/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
navigation
*/

#navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#b3d9ff, #432457);
    width: 100%;
    top: 0px;
    font-family: 'Open Sans', sans-serif;
    position: fixed;

}

#navli {
    float: left;
}

#navli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
}

#navli a:hover {
     background: linear-gradient(#432457, #b3d9ff);
    color: black;
}

.active{
     background: linear-gradient(#432457, #b3d9ff);

}

/*
    Eigen code
*/

body{

    background: linear-gradient(#123dfa, #b3d9ff, #123dfa);
}

footer {
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
    background-color: #432457;

}

#myHeader{
    background-color: #432457;
    margin-top: ;
    padding: 10px;
    width: 100%;
    position: auto;
    z-index: +1;
    text-align: center;
    top: 40px;
    padding-top: 90px;
    padding-bottom: 30px;

}

#headerNaam{
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    margin: 20px;
    padding-top: 2px;
    color: #cce6ff;


}

#headerTitel{
    font-family: 'Pacifico', cursive;
    font-size: 56px;
    color: #cce6ff;
    z-index: -1;

}

#headerimg{

    width:100%;
    z-index: -5000;
}

h2{
    font-family: 'Pacifico', cursive;
    color: #730099;
    margin: 5px;
    margin-top:25px;
}

#footerNaam{
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    margin: 20px;
    padding-top: 2px;
    padding-bottom: 1px;
    color: #cce6ff;
}

#footerTitel{
    font-family: 'Pacifico', cursive;
    font-size: 42px;
    color: #cce6ff;
}


p{
    margin: 10px;
    font-size: 16;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    line-height: 25px;

}

.blogpost{
    margin: 60px;
    padding: 20px;
    padding-top: 5px;
    background: linear-gradient(#b3d9ff, #432457);
    box-shadow: 5px 5px 1px #cce6ff;
    border-radius: 10px;
}

