
/*
navigation
*/



/*
    Eigen code
*/

body{

    background: linear-gradient(#123dfa, #b3d9ff, #123dfa);
}

footer {
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
    background-color: #432457;

}

header{
    background-color: #432457;
    width: 100%;
    z-index: +1;
    text-align: center;
    top: 40px;
    padding-top: 90px;
    padding-bottom: 30px;

}

#headerNaam{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    margin: 20px;
    padding-top: 2px;
    color: #cce6ff;


}

#headerTitel{
    font-family: 'Pacifico', cursive;
    font-size: 56px;
    color: #cce6ff;
    z-index: -1;

}

#headerimg{

    width:100%;
    z-index: -5000;
}

h2{
    font-family: 'Pacifico', cursive;
    color: #730099;
    margin: 5px;
    margin-top:25px;
}

#footerNaam{
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    margin: 20px;
    padding-top: 2px;
    padding-bottom: 1px;
    color: #cce6ff;
}

#footerTitel{
    font-family: 'Pacifico', cursive;
    font-size: 42px;
    color: #cce6ff;
}


p{
    margin: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    line-height: 25px;

}

.blogpost{
    margin: 60px;
    padding: 20px;
    padding-top: 5px;
    background: linear-gradient(#b3d9ff, #432457);
    box-shadow: 5px 5px 1px #cce6ff;
    border-radius: 10px;
}
